*{
    margin: 0;
    box-sizing: border-box;
}

.first{
    width: 100%;
    height: 100vh;
    background: url(https://free4kwallpapers.com/uploads/wallpaper/aesthetic-city-wallpaper-1600x900-wallpaper.jpg);
}

.fh1{
    color: rgb(126, 126, 126);
    
    
}

.fh1:first-letter{
    color: gold;
}